.modal {
    position: fixed;
    top: 4vh;
    left: 8%;
    width: 80%;
    z-index: 100;
    overflow: hidden;
    animation: fadeInAnimation ease 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}
.description{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    align-items: center;
    font-weight: bolder;
    text-shadow: 5px 4px rgb(35, 34, 34);
}
.description-content
{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height:40%;
    justify-content: center;
}
.description-content .number
{
    font-size: 5.3vw;
}
.description-content .label
{
    font-size: 2vw;
}
.typeChart-container{
    display: flex;
    justify-content: space-evenly;
}
.button-container{
    display: flex ;
    justify-content: space-evenly;
    margin-left:77%;
    margin-top: 3%;
    width: 10%;
    
}
button{
    background-color: transparent;
    border-radius : 50%;
    border: none;
    margin-left: 5%;
    padding:4px;
}
button :hover{
    cursor: pointer;
    border-radius : 50%;
    background-color: rgba(0, 251, 255, 0.584);
    transition:background-color 1s;
    transform:translateY(0.5px);
    transition-timing-function: ease-in-out ;
}

button svg{
    width: 5vw;
    height: 5vw;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
    animation: fadeInAnimation ease 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }



  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}