.Navbar{

}
a{
	text-decoration:none;
}
a .username{
	font-size: 0.65rem;
    color:rgb(158, 157, 157);
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
}
a .username:hover{
	color:white;
    cursor:pointer;
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
}
.profile-container{
	display:flex;
	justify-content:center;
	align-items:center;
}
.userpresent{
	height:1.7rem;
	width:1.7rem;
}
nav{
    display:flex;
    justify-content: space-between;
}
ul{
    display:flex;
    align-items: center;
    justify-content: center;
}
li{
    list-style: none;
    margin-right: 1rem;
}
.left-menu-items
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-menu-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-menu-items a{
    margin-right: 1rem;
}
.logo{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo svg{
    width:3rem;
    height:3rem;
}
.navicon{
	color:white;
    font-size:1.2rem;
    margin-right:5px;
    border-radius: 50%;
    padding:1px;
    padding: 5%;
    -webkit-transition: color 500ms linear;
    -ms-transition: color 500ms linear;
    transition: color 500ms linear;
}
.svg{
	color:white;
    font-size:1.2rem;
    margin-right:5px;
    border-radius: 50%;
    padding:1px;
    padding: 5%;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
svg:hover{
    color: rgba(0, 251, 255, 0.438);
    transform:translateY(0.5px);
    -webkit-transition: color 500ms linear;
    -ms-transition: color 500ms linear;
    transition: color 500ms linear;
    cursor: pointer;
}

.h2-link{
    margin-left: 5px;
    text-decoration: none;
    color:white;
    -webkit-transition: color 500ms linear;
    -ms-transition: color 500ms linear;
    transition: color 500ms linear;
}
.h2-link:hover{
    cursor: pointer;
    color: rgba(0, 251, 255, 0.438);
    transition:background-color 1s;
    /* transition-timing-function: ease-in-out ; */
    -webkit-transition: color 500ms linear;
    -ms-transition: color 500ms linear;
    transition: color 500ms linear;
}
@media all and (max-width :600px)
{
    .navicon{
        font-size:1.7rem;
        height:1.7rem;
    }
    .logo h2{
        display: none;
    }
	.username
	{
		display:none;
	}
}
@media all and (max-width :600px)
{
    .Navbar
    {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 15vw;
    }
}


